
<div id="story_page">
<div class="background"></div>
    <h1>{{story.headline}}</h1>
    <img ng-src="{{story.imageUrl}}" alt="" ng-show="story.imageUrl != null" class="story_image">
    <p class="source">From {{story.source}}</p>
    <p class="news_story" ng-bind-html="story.body|replaceNewLines"></p>
    <div class="voting_bar">
        <div class="thumbs_down" ng-click="vote('down')"><img ng-src="/images/confused2.png"/></div>
        <div class="thumbs_up" ng-click="vote('up')"><img ng-src="/images/happy_face4.png"/></div>
        <div class="next_story" ng-click="nextStory()">
            <img ng-src="/images/play_button.png"/>
        </div>
    </div>
</div>