@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), url(http://themes.googleusercontent.com/static/fonts/lobster/v8/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

#up{
    background: #EFE5C6;
}

#down{
    background: #EFE5C6;
}

.header {
    font-family: "Lobster";
    text-align: center;
    padding: 30px;
    background: #444444;
    color: #EFE5C8;
    font-size: 60px;
}

.splash_container .splash_screen {
    background: #444;
    position: fixed;
    padding: 15px;
    top: 150px;
    left: 30px;
    right: 30px;
    bottom: 30px;
}

.splash_container .splash_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.splash_container .blurb {
    font-family: "Roboto Slab";
    font-size: 1em;
    padding: 0 0 15px;
    color: #EFE5C4;
    line-height: 120%;
}

.splash_container .login {
    font-family: "Roboto Slab";
    font-size: 14px;
    padding: 10px 0 0;
    color: #888888;
    line-height: 120%;
}

.splash_container input {
    margin: 5px 0 0;
    width: 100%;
    font-family: "Roboto Slab";
    font-size: 15px;
    height:50px;
}

.splash_container .ok_btn {
    font-family: "Roboto Slab";
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 75px;
    line-height: 40px;
    border-radius: 7px;
    background: #BCD100;
    margin: 10px auto 0;
    border: 1px solid #2f2f2f;
    color: #ffffff;
    cursor: pointer;
}

h1{
    font-family: "Roboto Slab";
    font-size:1.5em;
    padding: 15px;
    color: #888888;
}