@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v3/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), url(http://themes.googleusercontent.com/static/fonts/lobster/v8/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

.header {
    font-family: "Lobster";
    text-align: center;
    padding: 30px;
    background: #444444;
    color: #EFE5C8;
    font-size: 60px;
}

h1{
    font-family: "Roboto Slab";
    font-size:1.5em;
    padding: 30px 15px;
    letter-spacing:3px;
    color: #888888;
}

p.news_story{
    font-family: "Roboto Slab";
    font-size: 14px;
    padding: 30px 15px;
    color: #888888;
    padding-bottom: 150px;
}