#story .voting_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

#story .voting_bar .thumbs_up {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background: #BCD100;
    cursor: pointer;
    padding-top:30px;
    text-align: center;
}
#story .voting_bar .thumbs_down {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background: #DD3300;
    cursor: pointer;
    padding-top:30px;
    text-align: center;
}

#story .voting_bar .next_story {
    background: #000;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    border-radius: 100%;
    bottom: -25px;
    border: 3px solid #FFF;
    cursor: pointer;
}

