#story_page, #story {
    background: #EFE5C6;
}

#story_page .voting_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

#story_page .voting_bar .thumbs_up {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    background: #BCD100;
    cursor: pointer;
    padding-top:30px;
    text-align: center;
    border-left: 75px solid #BCD100;
}
#story_page .voting_bar .thumbs_down {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    background: #DD3300;
    cursor: pointer;
    padding-top:30px;
    text-align: center;
    border-right: 75px solid #D30;
}

#story_page .voting_bar .next_story {
    background: #000;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    border-radius: 100%;
    bottom: -25px;
    border: 3px solid #EFE5C6;
    cursor: pointer;
}


#story_page p.source {
    font-family: "Roboto Slab";
    font-size: 14px;
    padding: 0px 15px;
    color: #888888;
    line-height: 120%;
}

#story_page p.news_story {
    font-family: "Roboto Slab";
    font-size: 14px;
    padding: 30px 15px;
    color: #888888;
    padding-bottom: 150px;
    line-height: 120%;
}

